/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154deg 42% 48%);
  --blue: hsl(250, 31%, 16%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --white: hsl(0, 0%, 99%);
  --gray: hsl(0, 0%, 46%);
}

/*** RESET ***/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: 100vh;
  /* background-image: url(./images/bg-intro-mobile.png); */
  background-image: -o-linear-gradient(
      206deg,
      rgb(0 255 137 / 35%),
      rgb(4 42 68)
    ),
    url(./images/bg-intro-mobile.png);
  background-image: linear-gradient(244deg, rgb(0 255 137 / 35%), rgb(4 42 68)),
    url(./images/bg-intro-mobile.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 120%;
  /* background-color: var(--red); */
  color: var(--white);
}

/*** Mobile ***/
.main-container {
  display: -ms-grid;
  display: grid;
  padding: 1.85rem;
  text-align: center;
}

.main-text,
.main-claim-form {
  max-width: 34.635rem;
}

.main-text {
  padding: 4rem 0;
}

.main-lead {
  font-weight: 400;
}

.main-title {
  padding-bottom: 1rem;
}

.claim-lead,
.signup-form {
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 8px 0px 1px rgba(74, 74, 74, 0.301);
  box-shadow: 0px 8px 0px 1px rgba(74, 74, 74, 0.301);
}

.claim-lead {
  background-color: var(--blue);
  padding: 1rem;
  margin-bottom: 2rem;
}

.claim-text {
  padding: 0 2rem;
}

.claim-styles {
  font-weight: 600;
}

.signup-form {
  /* background-color: var(--white); */
  background-color: hsl(268deg 86% 8% / 8%);
  text-align: left;
  padding: 1rem;
}

.form-input {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--grayish-blue);
}

.input-field,
.form-submit {
  width: 100%;
  border: 1px solid var(--grayish-blue);
  border-radius: 0.3rem;
}

.input-field {
  color: var(--gray);
  padding: 0.75rem;
}

.form-submit {
  margin-top: 1rem;
  text-align: center;
  background-color: var(--green);
  -webkit-box-shadow: 0px 2px 0px 1px rgba(54, 130, 97, 0.315);
  box-shadow: 0px 2px 0px 1px rgba(54, 130, 97, 0.315);
}

.submit-btn {
  width: 100%;
  height: auto;
  background-color: var(--green);
  text-transform: uppercase;
  font-size: 0.85rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: none;
  padding: 0.75rem;
}

.form-footer {
  color: var(--grayish-blue);
  font-size: 0.7rem;
  text-align: center;
  padding: 1rem;
}

.form-terms-style {
  color: var(--red);
  font-weight: 700;
}

/*** Active States ***/
.submit-btn:hover {
  /* opacity: 0.6; */
  background-color: rgba(30, 142, 177, 0.753);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.input-field:focus {
  color: hsl(0, 0%, 0%);
}

small {
  color: var(--red);
}

/*** Desktop ***/
@media (width>=1074px) {
  body {
    /* background-image: url(./images/bg-intro-desktop.png); */
    background-image: -o-linear-gradient(
        206deg,
        rgb(0 255 137 / 35%),
        rgb(4 42 68)
      ),
      url(./images/bg-intro-desktop.png);
    background-image: linear-gradient(
        244deg,
        rgb(0 255 137 / 35%),
        rgb(4 42 68)
      ),
      url(./images/bg-intro-desktop.png);
  }

  .main-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main-text {
    text-align: left;
  }

  .main-title {
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 2rem;
  }

  .signup-form {
    padding: 2.5rem;
  }

  .input-field {
    padding: 1rem 2.5rem;
  }
}
